.Tagsection {
  display: flex;
  flex-direction: column;
  width: 200px;

  & + & {
    margin-top: 40px;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    a {
      margin-right: 5px;
      margin-top: 5px;
    }
  }
}
